.meme-editor {
    display: flex;
    flex-direction: column;
    background-color: rgb(166, 223, 204);
    flex-wrap: wrap;
    align-content: center;
    padding: 5%;
}

.meme-editor.hide {
    display: none;
}

.canvas-container {
    display: flex;
    background-color: rgb(83, 83, 164);
    padding: 1%;
}

canvas {
    background-color: white;
}